In [2]:
import pandas as pd

In [3]:
df = pd.read_excel('dados.xls')

In [4]:
df.head()

,Código da transação,Status da transação,Data da transação,Confirmação do pagamento,Produtor(a),Código do produto,Produto,Código do preço,Nome deste preço,Taxa de conversão (moeda de compra),...,Telefone,Documento,Código postal,Cidade,Estado / Província,Endereço,Bairro,Número,Complemento,Instagram
0,HP1,Aprovado,28/06/2021 19:21:25,28/06/2021 19:21:27,4blue,1,Iluminismo Financeiro 2.1,1,Preço Especial Iluminismo Financeiro - Cartão,1.0,...,7798880990,7373664000484,(none),(none),(none),(none),(none),(none),(none),(none)
1,HP2,Aprovado,28/06/2021 19:12:22,28/06/2021 19:12:23,4blue,2,yampa - software financeiro da 4blue,2,Yampa - Oferta plano mensal,1.0,...,97999029790,4947494000430,(none),(none),(none),(none),(none),(none),(none),(none)
2,HP3,Boleto impresso,28/06/2021 18:46:29,(none),4blue,3,Maratona de Finanças - Experiência VIP,3,Experiência Vip,1.0,...,27969909890,80870347794,(none),(none),(none),(none),(none),(none),(none),(none)
3,HP4,Boleto impresso,28/06/2021 17:28:04,(none),4blue,4,Precificação para Produtos,4,(none),1.0,...,(none),70070407403,(none),(none),(none),(none),(none),(none),(none),(none)
4,HP5,Boleto impresso,28/06/2021 17:27:21,(none),4blue,2,yampa - software financeiro da 4blue,5,Condição Única,1.0,...,(none),70070407403,(none),(none),(none),(none),(none),(none),(none),(none)

In [5]:
df.columns

Index(['Código da transação', 'Status da transação', 'Data da transação',
       'Confirmação do pagamento', 'Produtor(a)', 'Código do produto',
       'Produto', 'Código do preço', 'Nome deste preço',
       'Taxa de conversão (moeda de compra)', 'Moeda de compra',
       'Valor de compra com impostos', 'Impostos locais de compra',
       'Valor de compra sem impostos', 'Taxa de conversão (moeda da comissão)',
       'Moeda da comissão', 'Comissão bruta (sem impostos)', 'Minha comissão',
       'Venda feita como', 'Comissão do(a) Produtor(a)',
       'Comissão do(a) Afiliado(a)', 'Comissão do(a) Coprodutor(a)',
       'Moeda das tarifas', 'Tarifa de processamento', 'Tarifa de streaming',
       'Outras tarifas', 'Nome do(a) Afiliado(a)', 'Canal usado para venda',
       'Código SRC', 'Código SCK', 'Método de pagamento', 'Tipo de cobrança',
       'Quantidade total de parcelas', 'Quantidade de cobranças',
       'Data de vencimento (vouchers)', 'Código de cupom',
       'Período gratuito (Trial)', 'Quantidade de itens', 'Comprador(a)',
       'Email do(a) Comprador(a)', 'País', 'Telefone', 'Documento',
       'Código postal', 'Cidade', 'Estado / Província', 'Endereço', 'Bairro',
       'Número', 'Complemento', 'Instagram'],
      dtype='object')

In [20]:
df2 = df[['Código da transação', 'Status da transação', 'Data da transação',
       'Código do preço', 'Nome deste preço','Valor de compra com impostos', 'Impostos locais de compra',
       'Valor de compra sem impostos',
       'Confirmação do pagamento', 'Código do produto',
       'Produto','Taxa de conversão (moeda de compra)', 'Moeda de compra',
        'Taxa de conversão (moeda da comissão)',
       'Moeda da comissão', 'Comissão bruta (sem impostos)', 'Minha comissão',
       'Venda feita como', 'Comissão do(a) Produtor(a)',
       'Método de pagamento', 'Tipo de cobrança',
       'Quantidade total de parcelas', 'Quantidade de itens', 'Comprador(a)',
       'País']]

In [21]:
df2.head()

,Código da transação,Status da transação,Data da transação,Código do preço,Nome deste preço,Valor de compra com impostos,Impostos locais de compra,Valor de compra sem impostos,Confirmação do pagamento,Código do produto,...,Comissão bruta (sem impostos),Minha comissão,Venda feita como,Comissão do(a) Produtor(a),Método de pagamento,Tipo de cobrança,Quantidade total de parcelas,Quantidade de itens,Comprador(a),País
0,HP1,Aprovado,28/06/2021 19:21:25,1,Preço Especial Iluminismo Financeiro - Cartão,1110.0,443.4,4154.1,28/06/2021 19:21:27,1,...,6156.1,5551.58,Produtor,5551.58,Cartão de Crédito,Parcelamento (juros para o Produtor),12,1,Yhkh pkulh gkstknh,Brasil
1,HP2,Aprovado,28/06/2021 19:12:22,2,Yampa - Oferta plano mensal,19.9,0.0,45.5,28/06/2021 19:12:23,2,...,45.5,46.50,Produtor,46.50,Cartão de Crédito,Assinatura,1,1,lkvihri svsnths Ltdk,Brasil
2,HP3,Boleto impresso,28/06/2021 18:46:29,3,Experiência Vip,19.1,0.0,15.7,(none),3,...,15.3,13.13,Produtor,13.13,Boleto Bancário,À vista,1,1,Tsrssk tkrik Silvk Luiz,Brasil
3,HP4,Boleto impresso,28/06/2021 17:28:04,4,(none),191.0,0.0,157.0,(none),4,...,153.0,186.54,Produtor,186.54,Boleto Bancário,À vista,1,1,knthnink nikifhrhff,Brasil
4,HP5,Boleto impresso,28/06/2021 17:27:21,5,Condição Única,119.0,0.0,145.0,(none),2,...,145.0,140.85,Produtor,140.85,Boleto Bancário,Assinatura,1,1,knthnink nikifhrhff,Brasil

Analisando a coluna 'Canal usado para venda' para verificar se possui valores importantes

In [22]:
(df['Canal usado para venda'] == '(none)').sum() # todos os valors none

13020

### Analise de dados de Status de transação aprovados

Cada um dos status poderia gerar um relatorio

In [426]:
# Olhando os tipos categoricos dos dados
df2['Status da transação'].unique()

array(['Aprovado', 'Boleto impresso', 'Atrasado', 'Aguardando Pagto',
       'Cancelado', 'Reclamado', 'Expirado', 'Reembolsado', 'Completo',
       'Chargeback', 'Iniciada'], dtype=object)

In [24]:
df_transacao_aprovado = df2[df2['Status da transação'] == 'Aprovado']

In [439]:
df_transacao_aprovado.to_csv('transacao_aprovado.csv',sep=';')

In [25]:
df_transacao_aprovado.head()

,Código da transação,Status da transação,Data da transação,Código do preço,Nome deste preço,Valor de compra com impostos,Impostos locais de compra,Valor de compra sem impostos,Confirmação do pagamento,Código do produto,...,Comissão bruta (sem impostos),Minha comissão,Venda feita como,Comissão do(a) Produtor(a),Método de pagamento,Tipo de cobrança,Quantidade total de parcelas,Quantidade de itens,Comprador(a),País
0,HP1,Aprovado,28/06/2021 19:21:25,1,Preço Especial Iluminismo Financeiro - Cartão,1110.0,443.4,4154.1,28/06/2021 19:21:27,1,...,6156.1,5551.58,Produtor,5551.58,Cartão de Crédito,Parcelamento (juros para o Produtor),12,1,Yhkh pkulh gkstknh,Brasil
1,HP2,Aprovado,28/06/2021 19:12:22,2,Yampa - Oferta plano mensal,19.9,0.0,45.5,28/06/2021 19:12:23,2,...,45.5,46.50,Produtor,46.50,Cartão de Crédito,Assinatura,1,1,lkvihri svsnths Ltdk,Brasil
6,HP7,Aprovado,28/06/2021 17:23:14,2,Yampa - Oferta plano mensal,19.9,0.0,45.5,28/06/2021 17:23:16,2,...,45.5,46.50,Produtor,46.50,Cartão de Crédito,Assinatura,1,1,V kltsidk Titth stprssditsnths Ithlilikrihs,Brasil
7,HP8,Aprovado,28/06/2021 17:21:28,6,Yampa - Oferta plano anual,150.0,0.0,450.0,28/06/2021 17:21:30,2,...,450.0,413.40,Produtor,413.40,Cartão de Crédito,Assinatura,1,1,Ystssshn litk dk silvk,Brasil
9,HP10,Aprovado,28/06/2021 17:18:29,3,Experiência Vip,19.1,0.0,15.7,28/06/2021 17:22:14,3,...,15.3,13.13,Produtor,13.13,Pix,À vista,1,1,tkikrk ds gkssik ghngsiçkh ds shuzk,Brasil

## O/a candidato/a deverá construir um dashboard com os seguintes indicadores:

In [145]:
df_transacao_aprovado_filtrado = df_transacao_aprovado[['Código do produto','Produto','Valor de compra sem impostos']]
df_transacao_aprovado_filtrado

,Código do produto,Produto,Valor de compra sem impostos
0,1,Iluminismo Financeiro 2.1,4154.1
1,2,yampa - software financeiro da 4blue,45.5
6,2,yampa - software financeiro da 4blue,45.5
7,2,yampa - software financeiro da 4blue,450.0
9,3,Maratona de Finanças - Experiência VIP,15.7
...,...,...,...
2638,1,Iluminismo Financeiro 2.1,455.0
2725,2,yampa - software financeiro da 4blue,145.0
3762,2,yampa - software financeiro da 4blue,145.0
3860,2,yampa - software financeiro da 4blue,145.0
4381,2,yampa - software financeiro da 4blue,145.0

In [441]:
df_transacao_aprovado_filtrado.to_csv('transacao_aprovado_filtrado.csv',sep=';')

Agrupando por produto

In [307]:
df_agrupado_produto = df_transacao_aprovado_filtrado.groupby(['Código do produto',
                                                            'Produto'
                               
                                                            ]).sum().sort_values('Valor de compra sem impostos',ascending=False).reset_index()

In [308]:
df_agrupado_produto.shape

(25, 3)

In [370]:
df_agrupado_produto.head()

,Código do produto,Produto,Valor de compra sem impostos
0,1,Iluminismo Financeiro 2.1,74866.59
1,2,yampa - software financeiro da 4blue,64773.00
2,16,Gestão Financeira Lucrativa 3.0,42689.00
3,15,Gestão Financeira Lucrativa 1.0,41623.70
4,13,Curso de Precificação para Produtos e Serviços,16803.16

#### Top 3 mais produtos em quantidade

In [444]:
df_top3_quantidade = df_transacao_aprovado[['Código do produto','Produto']].value_counts().reset_index()
df_top3_quantidade.head()

   Código do produto                                         Produto     0
0                  2            yampa - software financeiro da 4blue  1082
1                  3          Maratona de Finanças - Experiência VIP    95
2                 16                 Gestão Financeira Lucrativa 3.0    77
3                 13  Curso de Precificação para Produtos e Serviços    58
4                  1                       Iluminismo Financeiro 2.1    57

In [445]:
df_top3_quantidade.to_csv('top3_quantidade.csv',sep=';')

In [324]:
df_top3_quantidade.shape

(25, 3)

#### Top 3 em valores

In [241]:
df_agrupado_produto.head()

,Código do produto,Produto,Valor de compra sem impostos
0,1,Iluminismo Financeiro 2.1,74866.59
1,2,yampa - software financeiro da 4blue,64773.00
2,16,Gestão Financeira Lucrativa 3.0,42689.00
3,15,Gestão Financeira Lucrativa 1.0,41623.70
4,13,Curso de Precificação para Produtos e Serviços,16803.16

In [446]:
df_agrupado_produto.to_csv('Top3_valores_agrupado_produto.csv',sep=';')

#### Preço médio geral

In [313]:
df_preco_medio_com_imposto = df_transacao_aprovado[['Código do produto','Produto','Valor de compra com impostos']]

In [317]:
df_preco_medio_com_imposto.head()

,Código do produto,Produto,Valor de compra com impostos
0,1,Iluminismo Financeiro 2.1,1110.0
1,2,yampa - software financeiro da 4blue,19.9
6,2,yampa - software financeiro da 4blue,19.9
7,2,yampa - software financeiro da 4blue,150.0
9,3,Maratona de Finanças - Experiência VIP,19.1

In [325]:
df_preco_medio_com_imposto.shape

(1516, 3)

In [318]:
df_media = df_preco_medio_geral.groupby(['Código do produto','Produto']).sum().sort_values('Valor de compra com impostos',ascending=False).reset_index()
df_media.head()

,Código do produto,Produto,Valor de compra com impostos
0,16,Gestão Financeira Lucrativa 3.0,65049.28
1,1,Iluminismo Financeiro 2.1,64748.01
2,2,yampa - software financeiro da 4blue,40443.22
3,15,Gestão Financeira Lucrativa 1.0,35901.68
4,13,Curso de Precificação para Produtos e Serviços,12033.68

In [326]:
df_media.shape

(25, 3)

In [ ]:
df_media2 = df_media['Valor de compra com impostos'].apply(lambda x:)

Criando a coluna de média

In [347]:
#DataFrame com valores de repetiçoes para realizar o calculo
df_produto_compras = df_transacao_aprovado[['Código do produto']].value_counts().reset_index()
df_produto_compras.head()

   Código do produto     0
0                  2  1082
1                  3    95
2                 16    77
3                 13    58
4                  1    57

In [351]:
df_com_imposto_media = pd.merge(df_media,df_produto_compras,how='outer')

In [353]:
df_com_imposto_media.head()

,Código do produto,Produto,Valor de compra com impostos,0
0,16,Gestão Financeira Lucrativa 3.0,65049.28,77
1,1,Iluminismo Financeiro 2.1,64748.01,57
2,2,yampa - software financeiro da 4blue,40443.22,1082
3,15,Gestão Financeira Lucrativa 1.0,35901.68,55
4,13,Curso de Precificação para Produtos e Serviços,12033.68,58

In [358]:
df_com_imposto_media['media de preços com impostos'] = (df_com_imposto_media['Valor de compra com impostos'])/(df_com_imposto_media[0])

In [361]:
df_com_imposto_media_final = df_com_imposto_media

In [362]:
del df_com_imposto_media_final[0]

In [364]:
del df_com_imposto_media_final['media']

## Neste ponde eu busquei a informação mais relevante
Em uma situação real, conserteza eu teria uma conversa com a equipe

In [369]:
df_com_imposto_media_final.sort_values('Valor de compra com impostos',ascending=False).head()

,Código do produto,Produto,Valor de compra com impostos,media de preços com impostos
0,16,Gestão Financeira Lucrativa 3.0,65049.28,844.795844
1,1,Iluminismo Financeiro 2.1,64748.01,1135.930000
2,2,yampa - software financeiro da 4blue,40443.22,37.378207
3,15,Gestão Financeira Lucrativa 1.0,35901.68,652.757818
4,13,Curso de Precificação para Produtos e Serviços,12033.68,207.477241

In [447]:
df_com_imposto_media_final.to_csv('preco_medio_geral_por_produto.csv',sep=';')

#### Quantidade de compras médias por cliente

In [380]:
df_cliente_compras = df_transacao_aprovado[['Comprador(a)','Produto','Valor de compra com impostos']]

In [392]:
df_compras_por_cliente = df_cliente_compras['Comprador(a)'].value_counts()

In [393]:
df_compras_por_cliente.head()

Fklrígih Rhdriguss tkgsdh               4
Pkulk Rsgink dk Silvk Psrsirk           3
lrunk ghrnsti thrsnghi dk ghstk Diks    3
Dknnyslk Dhtinguss Tsixsirk dk Silvk    2
Dsnisss Shusk lkrlhsk Litk              2
Name: Comprador(a), dtype: int64

In [448]:
df_compras_por_cliente.to_csv('compras_por_cliente.csv',sep=';')

A quantidade transacao_aprovado por cliente é (compras): 1.049134948096886

In [398]:
quantidade_media_compra_clientes = (df_cliente_compras['Comprador(a)'].count())/(df_compras_por_cliente.count())
quantidade_media_compra_clientes

1.049134948096886

## 3.1 O/a candidato/a deverá adicionar ao mesmo dashboard mais um indicador a sua escolha:


#### Quantidade de clientes com 1 compra, com 2 compras...

#### Total de vendas;

In [401]:
df2['Status da transação'].unique()

array(['Aprovado', 'Boleto impresso', 'Atrasado', 'Aguardando Pagto',
       'Cancelado', 'Reclamado', 'Expirado', 'Reembolsado', 'Completo',
       'Chargeback', 'Iniciada'], dtype=object)

In [423]:
aprovado = (df2['Status da transação'] == 'Aprovado').count()
Boleto = (df2['Status da transação'] == 'Boleto impresso').count()
Atrasado = (df2['Status da transação'] == 'Atrasado').count()
Aguardando = (df2['Status da transação'] == 'Aguardando Pagto').count()
Cancelado = (df2['Status da transação'] == 'Cancelado').count()
Reclamado = (df2['Status da transação'] == 'Reclamado').count()
Expirado = (df2['Status da transação'] == 'Expirado').count()
Reembolsado = (df2['Status da transação'] == 'Reembolsado').count()
Completo = (df2['Status da transação'] == 'Completo').count()
Chargeback = (df2['Status da transação'] == 'Chargeback').count()
Iniciada = (df2['Status da transação'] == 'Iniciada').count()

In [425]:
print(f'As transações com status Aprovados é: {aprovado}')
print(f'As transações com status Boleto é: {Boleto}')
print(f'As transações com status Atrasado é: {Atrasado}')
print(f'As transações com status Aguardando é: {Aguardando}')
print(f'As transações com status Cancelado é: {Cancelado}')
print(f'As transações com status Reclamado é: {Reclamado}')
print(f'As transações com status Expirado é: {Expirado}')
print(f'As transações com status Reembolsado é: {Reembolsado}')
print(f'As transações com status Completo é: {Completo}')
print(f'As transações com status Chargeback é: {Chargeback}')
print(f'As transações com status Iniciada é: {Iniciada}')

As transações com status Aprovados é: 13088
As transações com status Boleto é: 13088
As transações com status Atrasado é: 13088
As transações com status Aguardando é: 13088
As transações com status Cancelado é: 13088
As transações com status Reclamado é: 13088
As transações com status Expirado é: 13088
As transações com status Reembolsado é: 13088
As transações com status Completo é: 13088
As transações com status Chargeback é: 13088
As transações com status Iniciada é: 13088

#### Total de taxas;

#### Repetir de cada um dos top 3 produtos